@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

body {
    color: #172140;
}

.start {
	background-color: #609e78;
}

.end {
	background-color: red;
}


.app {
	margin-top: 100px;
}

#output {
	text-align: center;
	font-family: 'Londrina Solid', cursive;
	font-size: 10em;

}

#buttons {
	text-align: center;
	margin: 0 auto;
}

.title {
    text-align: center;
}

.title img {
    /*width:600px;*/
}


@media screen and (max-width: 600px) {
    .title img {
        width:300px;
    }

    #output {
        font-size: 5em;
    }
}